<div
  class="fixed z-50 bottom-0 left-0 right-0 w-full rounded-t-2xl lg:w-225 lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:rounded-2xl max-h-3/4 lg:h-full overflow-y-auto"
>
  <form [formGroup]="taskDetailsForm" class="flex flex-col lg:flex-row">
    <!-- Left Side -->
    <div class="bg-white py-6 px-5 lg:px-8 flex-1 flex flex-col space-y-5">
      <div class="flex justify-between items-center">
        <div class="flex items-center space-x-3">
          <div>
            <h3
              class="w-fit text-bgPrimary py-0.5 px-2 bg-bgAvatar text-sm font-bold rounded-xs"
            >
              {{ task()?.task_id }}
            </h3>
          </div>

          <select
            id="epic"
            class="text-sm py-0.5 text-textSecondary font-bold px-2 border flex w-fit border-gray-200 rounded-lg cursor-pointer outline-0"
            formControlName="epic_id"
            (blur)="saveChanges('epic_id')"
          >
            @for (epic of epics$ | async; track epic.id) {
              <option [value]="epic.id">
                {{ epic.epic_id }} ({{ epic.title }})
              </option>
              <option></option>
            }
          </select>
        </div>
        <div class="block lg:hidden">
          <svg
            (click)="close()"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            class="cursor-pointer"
          >
            <use href="#close"></use>
          </svg>
        </div>
      </div>

      <!--  title  -->
      <div>
        <input
          class="text-textPrimary outline-0 text-xl font-semibold"
          formControlName="title"
          (blur)="saveChanges('title')"
        />
      </div>

      <hr class="border-gray-200" />

      <!--   description      -->
      <div class="flex flex-col space-y-3">
        <label for="desc" class="label-sm text-textSecondary font-semibold">
          Description
        </label>

        <textarea
          class="border border-gray-100 outline-0 h-32 lg:h-96 resize-none rounded-xl p-3 text-textPrimary"
          id="desc"
          formControlName="description"
          (blur)="saveChanges('description')"
        >
        </textarea>
      </div>
    </div>

    <!-- Right Side -->
    <div
      class="flex flex-col space-y-5 px-5 lg:px-8 py-6 bg-bgSurface-low *:w-full lg:*:w-63.75"
    >
      <!-- Status -->
      <div class="flex flex-col space-y-3">
        <label for="status" class="label-sm text-textSecondary font-semibold">
          Status
        </label>

        <div
          [ngClass]="{
            'bg-success': taskDetailsForm.get('status')?.value === 'DONE',
            'bg-bgInputError text-error':
              taskDetailsForm.get('status')?.value === 'BLOCKED',
            'bg-[#CDDDFF] text-textPrimary':
              taskDetailsForm.get('status')?.value !== 'BLOCKED' &&
              taskDetailsForm.get('status')?.value !== 'DONE',
          }"
          class="cursor-pointer py-2.5 px-3 rounded-sm"
        >
          <select
            formControlName="status"
            id="status"
            class="w-full cursor-pointer outline-0"
          >
            @for (status of statusValues; track $index) {
              <option class="text-black bg-white" [value]="status">
                {{ status.replaceAll("_", " ") }}
              </option>
            }
          </select>
        </div>
      </div>

      <!-- Assignee -->
      <div class="flex flex-col space-y-3">
        <label for="assignee" class="label-sm text-textSecondary font-semibold">
          Assignee
        </label>

        <select
          class="bg-white cursor-pointer py-2.5 px-3 rounded-md outline-0 border border-gray-200"
          id="assignee"
        >
          @for (member of members$ | async; track member.member_id) {
            <option [value]="member.user_id">
              {{ member.metadata.name }}
            </option>
          }
        </select>
      </div>

      <!-- Reporter -->
      <div class="flex flex-col space-y-3">
        <span class="label-sm text-textSecondary font-semibold">
          Reporter
        </span>

        <div class="flex space-x-3 items-center">
          <div
            class="h-6 w-6 p-3 font-semibold text-textPrimary bg-bgAvatar text-xs rounded-xl flex justify-center items-center"
          >
            {{ task()?.created_by?.name | trimText }}
          </div>

          <span class="text-textPrimary"> {{ task()?.created_by?.name }} </span>
        </div>
      </div>

      <!-- Due Date -->
      <div class="flex flex-col space-y-3">
        <label for="deadline" class="label-sm text-textSecondary font-semibold">
          Due date
        </label>

        <div
          (click)="picker.open()"
          class="text-sm py-2.5 cursor-pointer px-3 border border-gray-200 rounded-lg bg-white"
        >
          <div class="flex items-center space-x-1">
            <svg width="14" height="15" viewBox="0 0 14 15">
              <use href="#calendar2"></use>
            </svg>

            <input
              [value]=""
              formControlName="due_date"
              id="deadline"
              class="w-full cursor-pointer outline-0 text-textPrimary"
              [matDatepicker]="picker"
            />

            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </div>

      <!-- Created At -->
      <div class="flex justify-between items-center">
        <span class="label-sm font-semibold text-textSecondary">
          Created AT
        </span>

        <span class="text-textPrimary text-sm">
          {{ task()?.created_at | date: "dd MMM YYYY" }}
        </span>
      </div>

      <!-- Close Button -->
      <div
        class="flex-1 w-96 lg:w-fit flex items-end justify-center lg:justify-end"
      >
        <button
          (click)="close()"
          type="button"
          class="cursor-pointer py-2 px-4 bg-bgAvatar w-full lg:w-fit text-xs text-textPrimary font-semibold rounded-sm"
        >
          Close
        </button>
      </div>
    </div>
  </form>
</div>
