<section>
  <app-auth-card
    [title]="'Forgot Password ?'"
    [description]="'No worries, we \'ll send you reset instructions'"
    [navigate]="'Back to log in'"
    [question]="'remember password ?'"
  >
    <form [formGroup]="emailForm" (ngSubmit)="emailSubmission()">
      <div class="flex flex-col space-y-5">
        <div>
          <label for="email" class="label-sm text-inputLabel"
            >Email Address</label
          >
          <input
            [ngClass]="{
              'input-error': validation.emailValidation(emailForm),
              input: !validation.emailValidation(emailForm),
            }"
            class="title-md mb-2 w-full outline-0"
            id="email"
            name="email"
            type="email"
            placeholder="Enter your email"
            formControlName="email"
          />
          @if (
            emailForm.get("email")?.errors && emailForm.get("email")?.touched
          ) {
            @if (emailForm.get("email")?.getError("required")) {
              <app-field-error message="Email is Required" />
            } @else if (emailForm.get("email")?.getError("email")) {
              <app-field-error message="Invalid Email" />
            }
          }
        </div>

        <div>
          <button
            [disabled]="emailForm.invalid || isLoading || isCountingDown"
            [ngClass]="{
              'bg-gray-400': emailForm.invalid || isLoading || isCountingDown,
              'bg-bgPrimary cursor-pointer': emailForm.valid,
            }"
            class="flex justify-center items-center btn-primary w-full"
          >
            <span class="mx-1">Send reset link</span>
            @if (isLoading) {
              <fa-icon [icon]="faSpinner" animation="spin"></fa-icon>
            }
          </button>
        </div>
      </div>
    </form>

    <div id="success" #success class="hidden flex-col space-y-3">
      <div
        class="flex bg-[#82F9BE33] text-[#005235] p-3 space-x-1 items-baseline"
      >
        <fa-icon [icon]="faCircleCheck"></fa-icon>
        <p>
          If an account exists with this email, we’ve sent a password reset
          link.
        </p>
      </div>
      <div class="flex flex-col justify-center items-center space-y-2">
        <span class="body-md text-textSecondary"
          >Didn't receive the email?</span
        >
        <button
          (click)="emailSubmission()"
          [disabled]="isCountingDown"
          [ngClass]="{
            'bg-gray-400': isCountingDown,
            'bg-bgPrimary cursor-pointer': !isCountingDown,
          }"
          class="btn-primary w-full flex items-center justify-center space-x-2 body-md cursor-pointer font-semibold"
        >
          <fa-icon [size]="'lg'" [icon]="faClock"></fa-icon>
          <span class="no-underline">Resend in {{ time }}</span>
        </button>
      </div>
    </div>
  </app-auth-card>
</section>
