<section class="bg-bgBackground min-h-screen flex flex-col space-y-8 p-6">
  <!--      Project header           -->

  <div>
    <span
      class="hidden md:block text-xs uppercase font-semibold tracking-wider text-gray-500"
      >Projects<span class="text-bgPrimary">Add New Project</span></span
    >
    <div class="flex flex-col space-y-2">
      <h1 class="headline-lg text-textPrimary">Create New Epic</h1>
      <p class="text-textSecondary text-sm">
        Define a high-level goal and organizational structure for your
        architectural phase.
      </p>
    </div>
  </div>

  <div
    class="flex flex-col space-y-8 lg:self-center lg:bg-white lg:w-2xl lg:p-8"
  >
    <!--              Form Content                -->

    <form class="flex flex-col space-y-5">
      <div>
        <div class="flex items-center space-x-1">
          <label for="name" class="label-sm text-inputLabel">Title</label
          ><span class="text-error">*</span>
        </div>
        <div class="input">
          <input
            class="title-md w-full outline-0"
            id="name"
            formControlName="name"
            type="text"
            placeholder="e.g. Structural Schematic Phase"
          />
        </div>
        <div class="mt-2">
          <!-- @if (
            projectForm.get("name")?.errors && projectForm.get("name")?.touched
          ) {
            @if (projectForm.get("name")?.getError("required")) {
              <app-field-error message="Project title is required" />
            } @else if (projectForm.get("name")?.getError("minlength")) {
              <app-field-error
                message="Project name must be at least 3 characters."
              />
            } @else if (projectForm.get("name")?.getError("maxlength")) {
              <app-field-error
                message="Project name must be 100 characters maximum."
              />
            }
          } -->
        </div>
      </div>
      <div>
        <div class="flex justify-between items-center">
          <label for="description" class="label-sm text-inputLabel"
            >Description</label
          >
          <span
            class="text-sm font-light text-textSecondary tracking-normal lowercase"
            >( optional )</span
          >
        </div>

        <div class="input">
          <textarea
            class="title-md w-full outline-0"
            id="description"
            formControlName="description"
            type="text"
            placeholder="Describe the scope and objectives of this epic..."
            rows="5"
          ></textarea>
        </div>
        <!-- @if (
          projectForm.get("description")?.errors &&
          projectForm.get("description")?.touched
        ) {
          @if (projectForm.get("description")?.getError("maxlength")) {
            <app-field-error
              message="Project name must be 500 characters maximum."
            />
          }
        } -->
      </div>
      <div>
        <label for="name" class="label-sm text-inputLabel">Assignee</label>
        <div class="input">
          <select id="countries" class="w-full outline-0 *:bg-bgInput">
            <option selected disabled>Select a member...</option>
            <option  class="bg-bgInput" value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
          </select>
        </div>
      </div>
      <div>
        <label for="name" class="label-sm text-inputLabel">deadline</label>

        <div class="input">
          <input
            class="title-md w-full outline-0"
            id="name"
            formControlName="name"
            type="date"
            placeholder="Enter project name"
          />
        </div>
      </div>
      <div
        class="flex flex-col space-y-2 lg:flex-row lg:justify-between lg:items-center"
      >
        <button
          class="text-lg btn-primary rounded-md w-full lg:w-fit lg:order-2"
        >
          Create Epic
        </button>
        <button
          type="button"
          routerLink="/Projects"
          class="cursor-pointer text-lg btn-secondary rounded-md w-full lg:w-fit lg:order-1"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</section>
