<nav
  class="sticky top-0 left-0 right-0 z-10 bg-bgBackground px-6 py-3 flex justify-between items-center lg:justify-end border-b border-b-gray-200"
>
  <div (click)="onToggle()" class="lg:hidden flex items-center space-x-2">
    <fa-icon class="text-textPrimary title-md" [icon]="faBars"></fa-icon>
    <h1 class="text-textPrimary title-md">Taskly</h1>
  </div>
  <div class="flex space-x-2 items-center justify-center">
    <div class="hidden lg:flex flex-col items-center">
      <span class="body-md font-bold">{{ _AuthService.user?.name }}</span>
      <span class="text-bgPrimary label-sm">{{ _AuthService.user?.role }}</span>
    </div>
    <div
      (click)="toggleDropdown()"
      class="cursor-pointer relative w-10 h-10 text-white border rounded-lg bg-bgPrimary flex justify-center items-center"
    >
      <span>{{ _AuthService.user?.name || "" | trimText }}</span>
      <!--            dropdown Menu            -->

      <div
        [ngClass]="{
          'translate-y-0 opacity-100': isDropped,
          '-translate-y-2 opacity-0': !isDropped,
        }"
        class="absolute flex flex-col space-y-5 top-full right-0 p-3 mt-2 w-40 bg-bgSurface-low  transition-all duration-200 rounded-lg shadow-lg z-50"
      >
        <div>
          <span class="text-md p-2 font-semibold text-textPrimary ">{{
            _AuthService.user?.name
          }}</span>
        </div>
        <div (click)="logoutSubmission()" class="flex p-2 items-center cursor-pointer hover:bg-bgSurface-highest">
          <svg width="20" height="18">
            <use href="#logout"></use>
          </svg>
          <span class="text-error">Logout</span>
        </div>
      </div>
    </div>
  </div>
</nav>
