<div>
  <div
    class="bg-white max-h-3/4 overflow-auto lg:w-2xl z-50 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    <!--           Header                  -->
    <form
      [formGroup]="editEpicForm"
      (ngSubmit)="updateEpicDetailsSubmission(EpicDetails?.epic_id!)"
    >
      <div
        class="flex flex-col space-y-2 bg-bgSurface-low lg:bg-white px-6 pt-6 pb-4"
      >
        <div class="flex justify-between items-center">
          <span class="text-bgPrimary uppercase font-bold text-xs">{{
            EpicDetails?.epic_id
          }}</span>
          <svg
            (click)="closePopUp()"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            class="cursor-pointer"
          >
            <use href="#close"></use>
          </svg>
        </div>
        <div>
          <input
            class="w-77 lg:w-full border p-2 text-textPrimary font-semibold rounded-lg border-gray-300"
            id="title"
            formControlName="title"
            type="text"
          />
        </div>
        <div class="mt-2">
          @if (
            editEpicForm.get("title")?.errors &&
            editEpicForm.get("title")?.touched
          ) {
            @if (editEpicForm.get("title")?.getError("required")) {
              <app-field-error message="Epic title is required" />
            } @else if (editEpicForm.get("title")?.getError("minlength")) {
              <app-field-error
                message="Epic title must be at least 3 characters."
              />
            }
          }
        </div>
      </div>

      <!--        Epic details                    -->
      <div class="flex flex-col space-y-4 px-6 py-4">
        <div class="flex flex-col space-y-2">
          <label for="description" class="label-sm text-inputLabel"
            >Description</label
          >
          <div>
            <textarea
              class="title-md h-28 border resize-none outline-0 border-gray-300 rounded-lg w-full p-2"
              id="description"
              type="text"
              placeholder="No description provided"
              formControlName="description"
            ></textarea>
          </div>
        </div>

        <div class="flex space-x-4 items-baseline justify-between">
          <div class="flex-1 flex flex-col space-y-2">
            <span class="label-sm text-inputLabel">Created by</span>
            <div class="flex items-center space-x-1">
              <div
                class="bg-bgAvatar lg:bg-bgPrimary p-2 h-8 rounded-xl w-8 flex items-center justify-center"
              >
                <span
                  class="text-textSecondary lg:text-white text-xs font-bold"
                  >{{ EpicDetails?.created_by?.name | trimText }}</span
                >
              </div>
              <span class="text-textPrimary text-sm">{{
                EpicDetails?.created_by?.name
              }}</span>
            </div>
          </div>

          <div class="lg:flex-1 flex items-center justify-between">
            <div class="flex flex-col w-full space-y-1">
              <span class="label-sm text-inputLabel">Assignee</span>

              <select
                id="assignee"
                formControlName="assignee_id"
                class="text-sm p-2 border flex w-full border-gray-200 rounded-lg cursor-pointer outline-0"
              >
                <option [ngValue]="null">Unassigned</option>
                @for (member of members$ | async; track member.member_id) {
                  <option [value]="member.user_id">
                    {{ member.metadata.name }}
                  </option>
                }
              </select>
            </div>
          </div>
        </div>

        <hr class="w-full border border-gray-100 my-4" />

        <div class="flex items-center space-x-4 justify-between">
          <div class="flex-1 flex flex-col space-y-1">
            <span class="label-sm text-inputLabel">Deadline</span>
            <div
              (click)="picker.open()"
              class="text-sm p-2 border border-gray-200 rounded-lg"
            >
              <div class="flex items-center space-x-1">
                <svg width="14" height="15" viewBox="0 0 14 15">
                  <use href="#calendar2"></use>
                </svg>
                <input
                  class="w-full outline-0"
                  [matDatepicker]="picker"
                  formControlName="deadline"
                />
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
          </div>

          <div class="flex-1 flex items-center justify-between">
            <div class="flex flex-col space-y-2">
              <span class="label-sm text-inputLabel">Created at</span>
              <div class="flex items-center space-x-1">
                <svg width="14" height="15" viewBox="0 0 14 15">
                  <use href="#calendar2"></use>
                </svg>
                <span class="text-textPrimary text-sm font-medium">{{
                  EpicDetails?.created_at | date: "MMM dd, YYYY"
                }}</span>
              </div>
            </div>
          </div>
        </div>

        <!--         Epic Tasks                -->

        @if (tasksState()?.loading) {
          <div
            class="p-6 flex flex-col space-y-2 items-center justify-self-center self-center"
          >
            <svg
              class="animate-spin"
              width="20"
              height="20"
              viewBox="0 0 512 512"
            >
              <use href="#spinner"></use>
            </svg>
            <span class="text-textSecondary">Loading Tasks...</span>
          </div>
        } @else if (tasksState()?.error) {
          <div
            class="p-6 flex space-x-2 items-center self-center justify-self-center"
          >
            <svg width="12" height="12">
              <use href="#warning"></use>
            </svg>
            <span class="text-error">Failed to Load Tasks</span>
          </div>
        } @else if (tasksState()?.tasks?.length) {
          <div class="flex flex-col space-y-4">
            <div class="flex justify-between items-center">
              <span class="label-sm text-inputLabel">Tasks</span>
              <div class="py-0.5 px-3 bg-[#E0E8FF] rounded-xl">
                <span class="lg:hidden block label-sm text-inputLabel"
                  >{{ tasksState()?.tasks?.length }} tasks</span
                >
              </div>
              <button
                (click)="navigateTo()"
                type="button"
                class="lg:block hidden cursor-pointer py-1.5 px-3 text-bgPrimary font-semibold"
              >
                + Add Task
              </button>
            </div>

            <div class="flex flex-col space-y-3">
              @for (task of tasksState()?.tasks; track task.id) {
                <div
                  class="flex flex-col p-4 border border-gray-100 rounded-lg space-y-3"
                >
                  <h3 class="font-semibold text-textPrimary">
                    {{ task.title }}
                  </h3>
                  <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-2">
                      @if (task.assignee.name) {
                        <div
                          class="flex bg-bgPrimary text-white items-center justify-center w-5 h-5 rounded-xl"
                        >
                          <span class="text-[8px]">{{
                            task.assignee.name | trimText
                          }}</span>
                        </div>
                        <span class="text-sm text-textSecondary font-medium">{{
                          task.assignee.name
                        }}</span>
                      } @else {
                        <div
                          class="w-5 h-5 bg-[#E8EDFF] rounded-sm flex justify-center items-center"
                        >
                          <svg width="8" height="8" viewBox="0 0 8 8">
                            <use href="#user"></use>
                          </svg>
                        </div>

                        <span class="text-sm text-textSecondary font-medium"
                          >unassigned</span
                        >
                      }
                    </div>
                    <div class="flex flex-col space-y-1">
                      @if (task.due_date) {
                        <span
                          class="hidden text-textSecondary lg:block label-sm"
                          >Due date</span
                        >
                        <div class="flex items-center space-x-1.5">
                          <svg width="11" height="12" viewBox="0 0 11 12">
                            <use href="#calendar"></use>
                          </svg>
                          <span
                            class="text-textSecondary text-xs font-semibold"
                            >{{ task.due_date | date: "dd MMM YYYY" }}</span
                          >
                        </div>
                      } @else {
                        <span
                          class="hidden text-textSecondary lg:block label-sm"
                          >Due date</span
                        >
                        <div class="flex items-center space-x-1.5">
                          <svg width="12" height="12" viewBox="0 0 12 12">
                            <use href="#warning"></use>
                          </svg>
                          <span class="text-error text-xs font-semibold"
                            >OVERDUE</span
                          >
                        </div>
                      }
                    </div>
                  </div>
                </div>
              }
              <div
                (click)="navigateTo()"
                class="flex lg:hidden items-center justify-center p-4 border-2 border-dashed border-gray-300 rounded-lg space-x-2"
              >
                <svg width="15" height="15" viewBox="0 0 15 15">
                  <use href="#circularPlus"></use>
                </svg>
                <span class="label-sm text-textSecondary">Add new task</span>
              </div>
            </div>
          </div>
        } @else {
          <!--        Empty tasks               -->
          <app-empty-EpicTasks (navigate)="navigateTo()" />
        }
      </div>

      <!--          save Button                 -->
      <div class="hidden lg:flex justify-between items-center px-6 py-4">
        <button
          (click)="closePopUp()"
          class="btn-secondary mr-2 cursor-pointer"
          type="button"
        >
          Cancel
        </button>
        <button class="btn-primary cursor-pointer" type="submit">Save</button>
      </div>
    </form>
  </div>

  <!--          Drawback shadow                  -->
  <div
    (click)="closePopUp()"
    class="absolute z-40 my-0 inset-0 bg-black/50"
  ></div>
</div>
