<div class="min-h-screen flex justify-between">
  <!--                Left Side              -->
  <div>
    <app-sidebar
      [isDesktopCollapsed]="isDesktopCollapsed"
      [isMobileSidebarOpen]="isMobileSidebarOpen"
      (toggleDesktop)="toggleDesktopSidebar()"
      (closeMobile)="closeMobileSidebar()"
      (logoutClicked)="logOut()"
    />

    <!--            Drop back shadow           -->
    @if (isMobileSidebarOpen) {
      <div
        class="fixed inset-0 bg-black/50 z-40 lg:hidden"
        (click)="closeMobileSidebar()"
      ></div>
    }
  </div>

  <!--               Right Side                  -->
  <div
    class="flex-1 transition-all duration-300"
    [ngClass]="{
      'lg:ml-64': !isDesktopCollapsed,
      'lg:ml-20': isDesktopCollapsed,
    }"
  >
    <!--        top-Navbar             -->
    <app-top-navbar
      (logoutClicked)="logOut()"
      (menuClicked)="toggleMobileSidebar()"
    />

    <!--              Main              -->
    <main>
       <router-outlet></router-outlet>
    </main>

    <!--           bottom-Navbar               -->
    <app-bottom-navbar [class.hidden]="isMobileSidebarOpen" class="lg:hidden" />

    <app-icons />
  </div>
</div>
