<div class="min-h-screen relative flex flex-col justify-between">
  <app-top-navbar (menuClicked)="toggleMobileSidebar()" />

  <app-bottom-navbar [class.hidden]="isMobileSidebarOpen" class="lg:hidden" />

  @if (isMobileSidebarOpen) {
    <div
      class="fixed inset-0 bg-black/50 z-40 lg:hidden"
      (click)="closeMobileSidebar()"
    ></div>
  }

  <div class="absolute top-0 left-0 bottom-full z-50">
    <app-sidebar
      [isDesktopCollapsed]="isDesktopCollapsed"
      [isMobileSidebarOpen]="isMobileSidebarOpen"
      (toggleDesktop)="toggleDesktopSidebar()"
      (closeMobile)="closeMobileSidebar()"
    />
  </div>
</div>
