<section class="bg-bgBackground min-h-screen flex flex-col space-y-8 p-6">
  <!--        Tasks Header               -->
  <div class="flex flex-col space-y-3">
    <div>
      <span
        class="hidden md:block text-xs uppercase font-semibold tracking-wider text-gray-500"
        >Projects > project name ><span class="text-bgPrimary"
          >Tasks</span
        ></span
      >
    </div>

    <div
      class="flex flex-col md:flex-row md:justify-between md:items-baseline space-y-4 space-x-10"
    >
      <div>
        <h1 class="headline-lg text-textPrimary">Active Workboard</h1>
        <p class="hidden md:block text-gray-500 font-medium">
          Curating Project Alpha's production pipeline and milestones.
        </p>
      </div>

      <!--         Tasks Search and creation button                -->
      <div
        class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-x-3 lg:space-y-0"
      >
        <div
          [ngClass]="{ hidden: selectedView() === 'list' }"
          class="input flex items-center md:w-80 space-x-2"
        >
          <svg width="14" height="14" viewBox="0 0 11 11">
            <use href="#search"></use>
          </svg>
          <input
            placeholder="Search tasks..."
            type="search"
            class="h-full w-full outline-0"
            [(ngModel)]="searchedTask"
          />
        </div>
        <button
          [routerLink]="['new']"
          class="block lg:hidden btn-primary w-full cursor-pointer text-lg rounded-sm"
        >
          + Create Task
        </button>
        <div class="hidden lg:block lg:w-56">
          <mat-select
            class="bg-white p-3"
            [ngModel]="selectedView()"
            (valueChange)="changeView($event)"
          >
            <mat-option [value]="'board'">Board View</mat-option>
            <mat-option [value]="'list'">List View</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
  </div>

  <!--           Main Content at mobile View            -->
  @if (tasks$ | async; as state) {
    <div class="lg:hidden">
      @if (state.loading) {
        <app-project-tasks-skeleton />
      } @else if (state.error) {
        <div class="flex-1 flex justify-center items-center">
          <app-error-page />
        </div>
      } @else if (!state.tasks?.length) {
        <app-empty-project-tasks />
      } @else {
        <div class="flex flex-col space-y-3 pb-16">
          @for (task of state.tasks; track task.id) {
            <div
              (click)="_TaskDetailsModalService.openModal()"
              [routerLink]="[]"
              [queryParams]="{ taskId: task.id }"
              [queryParamsHandling]="'merge'"
              class="bg-white flex flex-col space-y-3 p-4"
            >
              <div class="flex justify-between items-center">
                <span class="label-sm text-textSecondary">{{
                  task.task_id
                }}</span>
                <span
                  [ngClass]="{
                    'bg-success': task.status === 'DONE',
                    'bg-bgInputError text-error': task.status === 'BLOCKED',
                    'bg-[#CDDDFF]':
                      task.status !== 'DONE' && task.status !== 'BLOCKED',
                  }"
                  class="label-sm font-bold px-1.5 py-1"
                  >{{ task.status.replaceAll("_", " ") }}</span
                >
              </div>
              <div>
                <p class="title-md text-textPrimary font-semibold">
                  {{ task.title }}
                </p>
              </div>
              <div class="flex justify-between items-center">
                <div class="flex space-x-3 items-center">
                  <div
                    class="w-7 h-7 bg-bgAvatar p-2 flex items-center justify-center rounded-xl"
                  >
                    <span class="text-xs font-bold text-textPrimary">{{
                      task.created_by.name | trimText
                    }}</span>
                  </div>
                  <div class="flex flex-col">
                    <span class="label-sm text-textSecondary">Due date</span>
                    <span class="text-textPrimary text-sm font-medium">{{
                      task.due_date | date: "MMM dd,YYYY"
                    }}</span>
                  </div>
                </div>
                <div>
                  <svg width="4" height="16" viewBox="0 0 4 16">
                    <use href="#action"></use>
                  </svg>
                </div>
              </div>
            </div>
          }
        </div>
      }
    </div>

    <!--           Main Content at Desktop List view                              -->
    @if (state.error) {
      <div class="flex-1 flex justify-center items-center">
        <app-error-page />
      </div>
    } @else if (state.tasks?.length) {
      @if (selectedView() === "board") {
        <app-board-view-tasks [groupedTasks]="groupedTasks()" />
      } @else if (selectedView() === "list") {
        <div class="flex-1">
          <app-list-view-tasks />
        </div>
      }
    }
  }

  @if (_TaskDetailsModalService.isOpen()) {
    <app-task-details-pop-up
      (closeModal)="_TaskDetailsModalService.closeModal()"
    />

    <!--          Drawback shadow                  -->
    <div
      (click)="_TaskDetailsModalService.closeModal()"
      class="absolute z-40 my-0 inset-0 bg-black/50"
    ></div>
  }
</section>
