<div class="flex flex-col space-y-4">


  <!--         Members Mobile Skeleton                  -->
  @for (item of [1, 2, 3, 4]; track $index) {
    <div
      class="flex md:hidden bg-white animate-pulse rounded-lg p-4 justify-between"
    >
      <div class="flex space-x-1 items-center">
        <div class="bg-skeleton animate-pulse w-12 h-12 rounded-xl"></div>
        <div class="flex flex-col space-y-1 justify-center">
          <span class="bg-skeleton animate-pulse w-28 h-3"></span>
          <span class="bg-skeleton animate-pulse w-40 h-3"></span>
        </div>
      </div>
      <div class="bg-skeleton animate-pulse w-8 h-3"></div>
    </div>
  }

  <!--         Members Desktop skeleton                         -->
  <div class="hidden md:flex justify-center my-5">
    <table class="w-196 border-4 border-gray-100 bg-white">
      <thead>
        <tr>
          <td class="w-96 h-3 py-5 px-8">
            <div class="w-10 h-3 bg-skeleton animate-pulse"></div>
          </td>
          <td class="w-46 h-3 py-5">
            <div class="w-10 h-3 bg-skeleton animate-pulse"></div>
          </td>
          <td class="w-42 h-3 py-5 px-8">
            <div class="w-10 h-3 bg-skeleton animate-pulse"></div>
          </td>
        </tr>
      </thead>
      @for (item of [1, 2, 3, 4]; track $index) {
        <tbody class="border-b border-b-gray-200">
          <tr class="bg-white">
            <div class="p-8">
              <div class="flex space-x-2 items-center">
                <div
                  class="bg-skeleton animate-pulse w-12 h-12 rounded-xl"
                ></div>
                <div class="flex flex-col space-y-1 justify-center">
                  <span class="bg-skeleton animate-pulse w-28 h-3"></span>
                  <span class="bg-skeleton animate-pulse w-40 h-3"></span>
                </div>
              </div>
            </div>
            <td class="py-9">
              <div
                class="w-fit rounded-xl bg-skeleton animate pulse py-2 px-5"
              ></div>
            </td>
            <td class="p-8">
              <div
                class="w-full flex justify-end hover:bg-bgSurface-low cursor-pointer"
              >
                <div class="w-1 h-4 animate-pulse bg-skeleton"></div>
              </div>
            </td>
          </tr>
        </tbody>
      }
    </table>
  </div>
</div>
