/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Regular.ttf");
  font-display: swap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 2rem var(--bg-input) inset;
}

body {
  font-family: var(--font);
}

:root {
  --bg-primary: #003d9b;
  --bg-primary-container: #a2c1ef;
  --bg-surface-highest: #d7e2ff;
  --bg-surface-low: #f1f3ff;
  --bg-background: #f9f9ff;
  --bg-input: #d7e2ff;
  --bg-input-error: #ffdad6;
  --input-label: #737685;
  --placeholder-color: #6b7280;
  --placeholder-error-color: #93000a;
  --text-primary: #041b3c;
  --text-secondary: #434654;
  --btn-primary: #003d9b;
  --btn-ghost: #4f5f7b;
  --success: #82f9be;
  --error: #ba1a1a;
  --warning: #ffb300;
  --font: "Inter", sans-serif;
}


@theme {
  --color-bgPrimary: var(--bg-primary);
  --color-bgPrimary-container: var(--bg-primary-container);
  --color-bgSurface-highest: var(--bg-surface-highest);
  --color-bgSurface-low: var(--bg-surface-low);
  --color-bgBackground: var(--bg-background);
  --color-bgInput: var(--bg-input);
  --color-textPrimary: var(--text-primary);
  --color-textSecondary: var(--text-secondary);
  --color-inputLabel: var(--input-label);
  --color-inputError: var(--placeholder-error-color);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --font-sans: var(--font);
  --spacing-120: 30rem;
}

@layer utilities {
  .display-lg {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0rem;
  }

  .headline-lg {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0px;
  }

  .title-md {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.69rem;
    letter-spacing: 0px;
  }

  .body-md {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.42rem;
    letter-spacing: 0px;
  }

  .label-sm {
    font-size: 0.69rem;
    font-weight: 700;
    line-height: 1.03rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
  }
}

@layer components {
  .btn-primary {
    background-color: var(--btn-primary);
    color: white;
    padding: 0.625rem 1.5rem;
    border-radius: 0.125rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  .btn-secondary {
    padding: 0.625rem 1.5rem;
    color: var(--btn-primary);

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  .btn-ghost {
    padding: 0.625rem 1.5rem;
    color: var(--btn-ghost);

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .input {
    background-color: var(--bg-input);
    padding: 0.875rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    color: var(--text-primary);
  }

  .input-error {
    background-color: var(--bg-input-error);
    padding: 0.875rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    color:var(--placeholder-error-color)
  }
}


