<section class="bg-bgBackground min-h-screen flex flex-col space-y-8 p-6">
  <!--      Project header           -->
  <div class="hidden lg:block">
    <span class="text-xs uppercase font-semibold tracking-wider text-gray-500"
      >{{fTitle}}<span class="text-bgPrimary">{{sTitle}}</span></span
    >
    <h1 class="headline-lg text-textPrimary">{{header}}</h1>
  </div>
  <div
    class="flex flex-col space-y-8 lg:self-center lg:bg-white lg:w-2xl lg:p-8"
  >
    <!--             Form Header                  -->
    <div>
      <div class="flex items-center space-x-2">
        <div
          class="hidden w-12 h-12 bg-[#E5EEFA] lg:flex items-center justify-center rounded-md"
        >
          <svg width="22" height="20" viewBox="0 0 22 20">
            <use href="#newProject"></use>
          </svg>
        </div>

        <h2 class="text-textPrimary headline-lg">{{formHeader}}</h2>
      </div>
      <p class="text-textSecondary text-sm">
        Define the scope and foundational details of your project.
      </p>
    </div>

    <!--              Form Content                -->
    <ng-content />

    <!--              Form Footer Tip                  -->
    <div class="bg-bgSurface-low p-3 rounded-md">
      <span class="text-textSecondary font-bold text-sm">Pro Tip</span>
      <p class="text-gray-400 mt-1 text-sm">
        You can invite project members and assign epics immediately after the
        initial creation process.
      </p>
    </div>
  </div>
</section>
